.slider {
    width: 100%;
    /* height: 700px; */
    overflow: hidden;
}
.slides {
    width: 500%;
    height: 700px;
    display: flex;
}
.slides input {
    display: none;
}
.slide {
    width: 20%;
    transition: 2s;
}
.slide .slide_img1 {
    background: url(../img/main_img1_1.jpg) no-repeat center;
    background-size: cover;
    width: 100%;
    height: 700px;
}
.slide .slide_img2 {
    background: url(../img/main_img2_1.jpg) no-repeat center;
    background-size: cover;
    width: 100%;
    height: 700px;
}
.slide .slide_img3 {
    background: url(../img/main_img3_1.jpg) no-repeat center;
    background-size: cover;
    width: 100%;
    height: 700px;
}
.slide .slide_img4 {
    background: url(../img/main_img4_1.jpg) no-repeat center;
    background-size: cover;
    width: 100%;
    height: 700px;
}
/* css for manual slide navigation */
.navigation_manual {
    position: absolute;
    width: 100%;
    margin-top: -40px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* z-index: 99; */
}
.manual_btn {
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
    text-align: center;
}
.manual_btn:not(:last-child) {
    margin-right: 40px;
}
.manual_btn:hover {
    background-color: #fff;
}
#radio1:checked ~ .first {
    margin-left: 0;
}
#radio2:checked ~ .first {
    margin-left: -20%;
}
#radio3:checked ~ .first {
    margin-left: -40%;
}
#radio4:checked ~ .first {
    margin-left: -60%;
}

/* quick_ico */
/* .content {
    height: 120px;
} */
.con_box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 100px;
}
.con_item1 {
    width: 16.6%;
    text-align: center;
}
.con_txt1 {
    font-size: 15px;
    font-weight: bold;
    padding-top: 5px;
}


/* 태플릿버전 */
/* width 801px ~ 1065px */
@media screen and (max-width : 1023px) and (min-width:768px) {
    .slider {
        height: 650x;
        display: block;
    }
    .slides {
        height: 650px;
    }
    .slide .slide_img1 {
        background: url(../img/main_img_mob1.jpg) no-repeat center;
        background-size: cover;
        height: 650px;
    }
    .slide .slide_img2 {
        background: url(../img/main_img_mob2.jpg) no-repeat center;
        background-size: cover;
        height: 650px;
    }
    .slide .slide_img3 {
        background: url(../img/main_img_mob3.jpg) no-repeat center;
        background-size: cover;
        height: 650px;
    }
    .slide .slide_img4 {
        background: url(../img/main_img_mob4.jpg) no-repeat center;
        background-size: cover;
        height: 650px;
    }
    .navigation_manual {
        width: 100%;
    }
    .con_item1 {
        width: 33.3%;
        text-align: center;
    }
    .con_item1:nth-child(4), .con_item1:nth-child(5), .con_item1:nth-child(6) {
        padding-top: 10px;
    }
    
}

/* 모바일버전(width 800px 이하) */
@media screen and (max-width : 767px) {
    .slider {
        height: 650x;
        display: block;
    }
    .slides {
        height: 650px;
    }
    .slide .slide_img1 {
        background: url(../img/main_img_mob1.jpg) no-repeat center;
        background-size: cover;
        height: 650px;
    }
    .slide .slide_img2 {
        background: url(../img/main_img_mob2.jpg) no-repeat center;
        background-size: cover;
        height: 650px;
    }
    .slide .slide_img3 {
        background: url(../img/main_img_mob3.jpg) no-repeat center;
        background-size: cover;
        height: 650px;
    }
    .slide .slide_img4 {
        background: url(../img/main_img_mob4.jpg) no-repeat center;
        background-size: cover;
        height: 650px;
    }
    .navigation_manual {
        width: 100%;
    }

    /* quick_ico */
    .con_box {
        padding: 20px 30px;
    }
    .con_item1 {
        width: 33.3%;
        text-align: center;
    }
    .con_item1:nth-child(4), .con_item1:nth-child(5), .con_item1:nth-child(6) {
        padding-top: 10px;
    }
    .con_img1 {
        width: 35px;
        height: 35px;
    }
    .con_txt1 {
        font-size: 13px;
    }
}